{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>"¡Hola! Soy Alejandro Menéndez, un bombero con 8 años de experiencia y instructor de primeros socorros, capacitado en gestión de riesgos y desastres. Además de mi pasión por servir a la comunidad y trabajar en situaciones de alta presión, también tengo un gran interés en la tecnología y la ciencia de datos. Recientemente, he completado varios cursos en Udemy sobre Python, Data Science, desarrollo web (HTML, CSS, JS), Flask, Numpy, Pandas, Selenium, Matplotlib, Bootstrap y Flaskform, con el objetivo de mejorar mis habilidades en programación y análisis de datos. Estoy motivado para aplicar mi experiencia en el campo de la tecnología y el análisis de datos para ayudar a mejorar la seguridad y el bienestar de las personas. Me encanta trabajar en equipo y aprender de los demás, así que no dudes en ponerse en contacto conmigo para cualquier proyecto o colaboración".</p>

                        <p>"Hi there! I'm Alejandro Menéndez, an 8-year-experienced firefighter and first aid instructor, trained in risk and disaster management. Besides my passion for serving the community and working in high-pressure situations, I'm also keenly interested in technology and data science. Recently, I have completed several courses on Udemy on Python, Data Science, web development (HTML, CSS, JS), Flask, Numpy, Pandas, Selenium, Matplotlib, Bootstrap, and Flaskform, with the goal of improving my skills in programming and data analysis. I am motivated to apply my experience in the field of technology and data analysis to help improve the safety and well-being of people. I love working in a team and learning from others, so feel free to contact me for any project or collaboration."</p>


                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}
