{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>"¡Hola! Soy Alejandro Méndez, un bombero de Carlos Paz con experiencia en rescate y primeros auxilios, y actualmente trabajo en el área de equipo técnico de acción ante catástrofes en la Policía de Córdoba. Además de mi pasión por ayudar a la comunidad, también tengo un interés apasionado en la tecnología y la ciencia de datos. </p>
                        <p>Recientemente, he estado estudiando Machine Learning y he completado varios cursos en Udemy sobre Python, Data Science, Numpy, Pandas, y Flask. Mi objetivo es combinar mis habilidades en tecnología y en el servicio público para convertirme en un programador capacitado que pueda utilizar su experiencia para mejorar la vida de las personas."</p>

                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}
